// Specific CSS for your home-page
$light-orange: #FAF0CA;
$light-green: #1B5954;
$off-white: #FEFEFE;

body {
 background: white;
}

#featured-relatives {
  width: 100%;
  padding: 30px 0px 30px;
}

#h2-featured-relatives {
  margin-top: 30px;
  margin-bottom: 23px;
}

// .btn-primary {
//   background-color: #25817B;
//   border-radius: 10px;
//   &:hover {
//     background-color: #1B5954;
//   }
// }

.form-control {
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

// .featured-cards {
//   display: grid;
//   grid-gap: 18px;
//   margin: 18px;
//   width: 18rem;
// }



.landing_headers {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.search-bar {
  margin-top: 16px; // needs refactoring
}

 // FEATURED CARDS GRID //

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
