<div class="container justify-content-center">
  <div class="row justify-content-center" style="margin-top: 100px;">
    <div class="card p-4 card-confirm">
      <h1>Booking confirmation</h1>
      <h6>You have a meeting between <%=@booking.start_date%> and <%= @booking.end_date%> with <strong><%= @booking.family_member.name %></strong></h6>
      <div class="row justify-content-end mt-1">
        <div class="btn btn-relatives btn-sm">To Dashboard</div>
      </div>
    </div>
  </div>
</div>
