<!-- _home_banner.html.erb -->
<div class="banner-search-bar">
  <div class="banner">
    <div class="container">
      <h1 style="letter-spacing: 1px;">Looking for a Grandma?</h1>
      <p>Brünhilde's Sauerkraut is unbeatable!</p>
    </div>
  </div>
</div>
