.booking-card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
  height: 570px;
  width: 30rem;
}

.btn-edit {
  margin-right: 10px;
}

.card-height {
  height: 570px;
}

.make-flex {
  display: flex;
}

.family-member-btns {
  display: flex;
  justify-content: flex-end;
}

.new-booking-wrap {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 570px;
  padding: 50px 100px;
}

@media only screen and (max-width: 750px) {
  .make-flex {
    display: block;
  }

  .new-booking-wrap {
    margin-top: 30px;
    padding: 0px 0px;
    width: 100vw;
    margin-right: 0px;
    border-radius: 0px;
    margin-left: 0;
  }

  .booking-card {
  width: 100vw;
  height: auto;
  margin-left: 0;
  }

  .container {
    padding-left: 0;
    padding-top: 0;
  }

}

