.booking-card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-edit {
  margin-right: 10px;
}

.family-member-btns {
  display: flex;
  justify-content: flex-end;
}

.new-booking-wrap {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 510px;
  padding: 0px 100px 0px 100px;
}
