.booking-card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-edit {
  margin-right: 10px;
}

.card-img-top {
  padding: 10px 10px 0px 10px;
}

.family-member-btns {
  display: flex;
  justify-content: flex-end;
}

.family-member-create {
  display: flex;
  justify-content: flex-end;
}

.picture-card {
  width: 300px;
  height:300px;
}
