.collapse {
  margin-right: 15px;
}

.logo {
  margin-left: 15px;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-lewagon {
  justify-content: space-between;
  background-color: white !important;
  transition: 0.5s background-color ease;
  height: 80px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-text {
  font-family: 'Lobster', cursive;
  color: $light-green;
  letter-spacing: 1px;
  box-shadow: 1px;
  font-size: 17px;
}

.tagline {
  // width: auto;
  // height: auto;
}
