.btn-relatives-search-bar {
  color: black !important;
  border: 1px solid black !important;
}

.btn-relatives-search-bar:hover {
  border: 1px solid $light-green !important;
}

// .search-bar {
//   margin-top: 16px; // needs refactoring
// }

.search-bar-box {
  text-align: center;
  margin-top: 50px;
  padding: 8px 20px;
  border-radius: 50px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  background-color: white;
  width: 800px;
}

@media only screen and (max-width: 750px) {
 .search-bar-box {
  margin-top: 50px;
  width: 400px;
 }
}
